<div style="height: 740px; width: 313px">
    <img src='modules/rotss-weather-tracker/img/Tracker.png'>
    <img src='modules/rotss-weather-tracker/img/Dot.png' style='border:0px; position: absolute; z-index: 5; left: 29px; top: {{temp}}px'>
    <img src='modules/rotss-weather-tracker/img/Dot.png' style='border:0px; position: absolute; z-index: 5; left: 134px; top: {{wind}}px'>
    <img src='modules/rotss-weather-tracker/img/Dot.png' style='border:0px; position: absolute; z-index: 5; left: 239px; top: {{snow}}px'>
</div>